<form [formGroup]="postForm" (submit)="onPostSubmit()">
    <div>
        <div>
            <label for="post-title">Title</label>
        </div>
        <div>
            <input type="text" id="post-title" formControlName="title">
        </div>
    </div>

    <div>
        <div>
            <label for="post-description">Description</label>
        </div>
        <div>
            <input type="text" id="post-description" formControlName="description">
        </div>
    </div>

    <div>
        <div>
            <label for="post-image">Image URL</label>
        </div>
        <div>
            <input type="text" id="post-image" formControlName="image">
        </div>
    </div>

    <div>
        <div>
            <label for="post-image">Category</label>
        </div>
        <div>
            <input type="text" id="post-image" formControlName="category">
        </div>
    </div>

    <div>
        <button type="submit">SEND</button>
    </div>
</form>