<form [formGroup]="postForm">
    <div>
        <div>
            <label for="post-title">Title</label>
        </div>
        <div>
            <input type="text" class="form-control" id="post-title" formControlName="title">
        </div>
    </div>

    <div>
        <div>
            <label for="post-description">Description</label>
        </div>
        <div>
            <textarea class="form-control" id="post-description" formControlName="description"></textarea>
        </div>
    </div>

    <div>
        <div>
            <label for="post-image">Image URL</label>
        </div>
        <div>
            <input type="text" class="form-control" id="post-image" formControlName="image">
        </div>
    </div>

    <div>
        <div>
            <label for="post-category">Category</label>
        </div>
        <div>
            <input type="text" class="form-control" id="post-category" formControlName="category">
        </div>
    </div>
</form>