<div class="post-card" *ngIf="post">
    <div class="post-image-banner" [style.background-image]="'url(' + post.image + ')'"></div>
    <div class="post-content">
        <div class="post-header">
            <p (click)="viewPost()">
                {{ post.title | uppercase }}
                <span class="material-symbols-outlined">
                    open_in_new
                </span>
            </p>
        </div>
        <div class="post-body">
            <div class="post-description">
                <p>{{ post.description }}</p>
            </div>
            <div class="dates">
                <app-date>Created at: {{ post.createdAt | date }}</app-date>
                <app-date *ngIf="post.updatedAt">Updated at: {{ post.updatedAt | date }}</app-date>
            </div>
        </div>
    </div>
    <app-action-buttons [floatButtons]="true" (deletePostEvent)="deletePost()" (editPostEvent)="editPost()"></app-action-buttons>
</div>

<ng-template #content>
    <app-modal-container [modalTitle]="'Edit Postal'" (closeModalEvent)="modalRef?.close($event)" (submitEvent)="triggerSubmit('update')">
        <app-post-form [post]="post"></app-post-form>
    </app-modal-container>
</ng-template>