<div>
    <app-navigation>
        <app-nav-item 
            *ngFor="let tab of tabs"
            [tab]="tab"
            (tabEvent)="changeTab($event)">
            {{ tab.name }}
        </app-nav-item>
        <button class="btn btn-primary" (click)="createPost()">New postal</button>
    </app-navigation>
    <div class="row">
        <div *ngFor="let post of postsObserver | async" class="col-lg-6 col-12">
            <app-post-card [post]="post" (deletePostEvent)="loadPosts()"></app-post-card>
        </div>
    </div>
    <button 
        (click)="showTheTruth()"
        *ngIf="isNormalSection()">
        Toggle hidden section
    </button>
</div>

<ng-template #content>
    <app-modal-container 
        [modalTitle]="'Edit Postal'" 
        (closeModalEvent)="modalRef?.close($event)" 
        (submitEvent)="triggerSubmit()">
        <app-post-form (createdPostEvent)="loadPosts()"></app-post-form>
    </app-modal-container>
</ng-template>