<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="triggerModalClose('Cross button')"></button>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="triggerModalClose('Close button')">Close</button>
        <button type="button" class="btn btn-primary" (click)="triggerSubmit()">Save changes</button>
    </div>
</div>