$primary-color: rgb(43, 143, 182);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 1 rem; }

.btn-primary {
    background: $primary-color;
    border-color: $primary-color;
    &:hover {
        background: rgba($primary-color, .8);
        border-color: rgba($primary-color, .8);
    }
}